{include file="user/header" title="新用户注册" /}
<style>
    .tag {
        width: 25rem;
        height: 30px;
        text-align: left;

    }

    input {
        width: 137px;
    }

    p {
        font-size: .9rem;
        color: red;

    }

</style>
<script>
    $(function () {

        $("#email").blur(function () {
            var email = $(this).val();

            if (email.length == 0) {
                $("#check_email").html('邮箱名不能为空!');
                return false;
            }

            if (!(/\w+@\w+.\w+/).test(email)) {
                $("#check_email").html('邮箱格式不正确!');
                return false;
            }

            $.ajax({
                url: '{:url(\'index/index/checkEmail\')}',
                type: 'POST',
                data: {email: email},
                dataType: 'json',
                success: function (res) {
                    if (res == 'allow') {
                        $("#check_email").html('该邮箱名可以使用!').css('color', 'green');
                    } else {
                        $("#check_email").html('该邮箱名已注册!');

                        return false;
                    }
                },
                error: function () {
                    alert('系统出错!');
                }
            });
        });

        $("#password").blur(function () {
            var password = $(this).val();

            if ($.trim(password).length == 0) {
                $("#check_password").html('密码不能为空!');
                return false;
            }

            if (password.length < 8) {
                $("#check_password").html('密码不能少于8位!');
                return false;
            }

            $("#check_password").empty();

        });

        $("#nickname").blur(function () {
            var nickname = $(this).val();

            if (nickname.length == 0) {
                $("#check_nickname").html('昵称不能为空!');
                return false;
            }

            $.ajax({
                url: '{:url(\'index/index/checkNickname\')}',
                type: 'POST',
                data: {nickname: nickname},
                dataType: 'json',
                success: function (res) {
                    if (res == 'allow') {
                        $("#check_nickname").html('该昵称可以使用!').css('color', 'green');
                    } else {
                        $("#check_nickname").html('该昵称已存在!');

                        return false;
                    }
                },
                error: function () {
                    alert('系统出错!');
                }
            });
        });

        $("#mobile").blur(function () {
            var mobile = $(this).val();

            if (mobile.length == 0) {
                $("#check_mobile").html('手机号不能为空!');
                return false;
            }

            if (!(/^1[34578][0-9]{9}$/).test(mobile)) {
                $("#check_mobile").html('手机号格式不正确!');
                return false;
            }

            $("#check_mobile").empty();
        });

    });

    function checkInput() {

        var email = $("#email").val();
        var password = $("#password").val();
        var nickname = $("#nickname").val();
        var mobile = $("#mobile").val();

        if (email.length == 0) {
            $("#check_email").html('邮箱名不能为空!');
            return false;
        }

        if (!(/\w+@\w+.\w+/).test(email)) {
            $("#check_email").html('邮箱格式不正确!');
            return false;
        }


    }

</script>


<div style="text-align: center">

    <div style="display: inline-block">
        <form class="container" method="post" action="{:url('index/index/registerOk')}">
            <div class="tag">
                <div style="float: left;margin-right: 1rem;">邮箱：<input name="email" id="email"></div>
                <p id="check_email"></p>
            </div>

            <div class="tag">
                <div style="float: left;margin-right: 1rem;">密码：<input type="password" name="password" id="password">
                </div>
                <p id="check_password"></p>
            </div>

            <div class="tag">
                <div style="float: left;margin-right: 1rem;">昵称：<input name="nickname" id="nickname"></div>
                <p id="check_nickname"></p>
            </div>

            <div class="tag">
                <div style="float: left;margin-right: 1rem;">手机：<input name="mobile" id="mobile"></div>
                <p id="check_mobile"></p>
            </div>


            <button onclick="return checkInput()">注册</button>


        </form>

    </div>
</div>





