{include file="user/header" title="新用户注册" /}
<style>
    .tag {
        width: 25rem;
        height: 30px;
        text-align: left;

    }

    h3 {
        text-align: center;

    }

    input {
        width: 137px;
    }

</style>
<script>
    $(function () {

        $("#email").blur(function () {
            var email = $(this).val();

            if ($.trim(email).length == 0) {
                $("#check_email").html('邮箱名不能为空!').css('color', 'red');
                alert(new Date("2017-09-11")>new Date("2017-9-11"));
                return false;
            }

            if(!(/\w+@\w+.\w+/).test(email)){
                $("#check_email").html('邮箱格式不正确!').css('color', 'red');
                return false;
            }

            $.ajax({
                url: '{:url(\'index/index/checkEmail\')}',
                type: 'POST',
                data: {email: email},
                dataType: 'json',
                success: function (res) {
                    if (res == 'allow') {
                        $("#check_email").html('该邮箱名可以使用!').css('color', 'green');
                    } else {
                        $("#check_email").html('该邮箱名已注册!').css('color', 'red');

                        return false;
                    }
                },
                error: function () {
                    alert('系统出错!');
                }
            });
        });

        $("#password").blur(function () {
            var password = $(this).val();

            if ($.trim(password).length == 0) {
                $("#password").html('密码不能为空!');

                return false;
            }
        });

    });
</script>
<h3>用户注册</h3>
<div style="text-align: center">
    <div style="display: inline-block">
        <form class="container" method="post" action="{:url('index/index/registerOk')}">
            <div class="tag">
                <div style="float: left;margin-right: 1rem;">邮箱：<input name="email" id="email"></div>
                <p id="check_email" style="font-size: .9rem"></p>
            </div>

            <div class="tag">
                密码：<input class="password" type="password" name="password" id="password">
            </div>

            <div class="tag">
                昵称：<input name="nickname" id="nickname">
            </div>
            <div class="tag">
                手机：<input name="mobile" id="mobile">
            </div>


            <button>注册</button>


        </form>

    </div>
</div>





