{include file="user/header" title="写博客" /}
<style>

    p {
        font-size: .9rem;
        color: red;
    }

    h2 {
        color: #4288ce;
        text-align: left
    }

    a {
        color: #4288ce;
        text-decoration: none;
        margin-left: 1.5rem;
        font-size: 14px;
    }
</style>
<script>
    function checkInput() {
        //TODO
        return false;

    }

</script>

<body style="text-align: center">
<div style="width: 950px;display: inline-block;">

        <h2 style="text-align: center">写博客</h2>
        <form  method="post" action="{:url('index/blog/postBlog')}">
            <div style="text-align: left;margin-bottom: 10px">
                标题：<input name="title" id="title" style="width: 60%">
                时间：<input name="time" id="time" value="{php}echo date('Y-m-d H:i:s', time());{/php}" readonly>
            </div>

            <div>
                <textarea name="content" id="content" style="height: 500px;width: 950px"></textarea>
            </div>

            <input type="hidden" name="nickname" value="{$Think.session.nickname}">
            <input type="submit" value="发  表" style="width: 5rem;font-size: 1.2rem;color:white;background:#4288ce;border-radius: 5px;" onsubmit="return checkInput()">
        </form>


</div>


</body>



